body {
<<<<<<< HEAD
<<<<<<< HEAD
background-color: pink;
=======
background-color: purple;
>>>>>>> hello-world-images
=======
background-color: white;
>>>>>>> hello-world-images
}

h1 {
color: navy;
margin-left: 20px;
}